<header class="intro-and-nav" >
  <div>
    <div class="intro">
      <!-- Logo -->
      <a
        class="logo"
        href="{{ .Site.BaseURL | relLangURL }}" aria-label="{{ .Site.Title }} home page">
        <img class="logo" src='{{ "images/logo-v1.1-web.svg" | absURL }}' width="480" height="400" alt="[ Logo de mejores lectores ]">
      </a>
    </div>
    <!-- end Logo -->

    <!-- Lista de palabras -->
    <div class="ticks" id="seccion-glosario">
      <strong>
        GLOSARIO
      </strong>
      <ul id="glosario">
      </ul>      
      <template id="glosario-item">
        <li>uno</li>
      </template>
    </div>
  </div>
</header>
