<!-- Options for diccionario script -->
{{ $buildOptions := (dict 
  "bundle" true
  "format" "iife"
  "targetPath" "js/diccionario.min.js" 
  "minify" true) }}
{{ if .Site.IsServer }}
  {{ $buildOptions = (dict
    "bundle" true
    "format" "iife"
    "targetPath" "js/diccionario.js"
    "minify" false
    "sourceMap" "inline") }}
<!-- Get diccionario JS -->
{{ end }}
{{- $diccionarioScript := resources.Get "js/diccionario.js" | js.Build $buildOptions | resources.Fingerprint "sha384" -}}

  <!-- Load diccionario script -->
  <script src='{{ $diccionarioScript.RelPermalink  }}' integrity='{{ $diccionarioScript.Data.Integrity }}' defer></script>
