<!-- Obtener variables del shortcode -->
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}

<!-- obtener recurso -->
{{ $image := .Page.Resources.GetMatch (printf "*%s*" $src) }}

<!-- salida html -->
{{ with $image }}
  <figure class="infografia" 
    aria-describedby="caption-{{ $caption | md5 }}">
      <img class="infografia-shortcode" 
        src="{{ .RelPermalink | relURL }}" 
        alt="{{ $alt | plainify }}" 
        width="{{ .Width }}" 
        height="{{ .Height }}">
    {{ with $caption }}
      <figcaption id="caption-{{ . | md5 }}">
        <!-- Publica el caption enviado desde el archivo .md -->
        {{ . | markdownify }}
        <br>
      </figcaption>
    {{ end }}
  </figure>
{{ end }}
