<!-- Obtener variables del shortcode -->
{{ $titulo := .Get "titulo" }}
{{ $icono := .Get "icono" }}
<aside 
  id = "truco-{{ .Inner | md5 }}"
  class="note truco"
  aria-label="truco">
  <div>
    <!-- Agrega ícono -->
    {{ if eq $icono false }}
    {{ else }}
      <svg class="character" aria-hidden="true" viewBox="0 0 40 40" focusable="false">
        <use xlink:href="#chico"></use>
      </svg> 
    {{ end }}
    <!-- Agrega título -->
    {{ with $titulo }}
      <p>
        <span class="title">{{ . | markdownify }}</span>
      </p>
    {{ end }}
    <!-- Agrega contenido -->
    {{ with .Inner }}
      <p>
        {{ . | markdownify }}
      </p>
    {{ end }}
  </div>
</aside>
